<br>
<div>
  <form [formGroup]="addNoteFormGroup" (ngSubmit)="AddNote()">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="title"> 
      <label for="float-input">Title</label>
  </span>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="content"> 
      <label for="float-input">Content</label>
  </span>
  <button pButton type="submit" label="Add Note"></button>
  </form>
</div>


<div *ngIf="error; else noError">
  There has been an error :(
</div>
<ng-template #noError>
  <div *ngFor="let note of notes">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ note.title }}</h5>
        <p class="card-text">{{ note.content }}</p>
      </div>
    </div>
  </div>
</ng-template>


